# Python bytecode:
*/.py[co]
*.py[co]

# Packaging files:
*.egg*
dist
build

# Sphinx docs:
_build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

.idea

*.pyc

*.pyc

blog/admin.pyc

blog/urls.pyc

*.pyc

blog/__init__.pyc

blog/migrations/__init__.pyc

blog/migrations/0001_initial.pyc

blog/models.pyc

blog/views.pyc

jasonwzhypro/__init__.pyc

jasonwzhypro/settings.pyc

jasonwzhypro/urls.pyc

jasonwzhypro/wsgi.pyc
