<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
	<head>
		<meta http-equiv="Content-Type">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<title>A Collection of Page Transitions</title>		
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/esteamshow/reset.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/esteamshow/index.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/esteamshow/animations.css" />
	</head>
	<body>
		<div>
			<div class="page page-1-1 page-current">
				<div class="wrap">
					<img class="img_1 pt-page-moveFromTop" src="{{ STATIC_URL }}/images/esteamshow/cover.png" />
					<!-- <img class="img_2 pt-page-moveFromLeft" src="{{ STATIC_URL }}/images/esteamshow/wording_cover.png" /> -->
					<img class="img_3 pt-page-moveIconUp" src="{{ STATIC_URL }}/images/esteamshow/icon_up.png" />
				</div>
			</div>
			<div class="page page-2-1 hide">
				<div class="wrap">
					<img class="img_1 hide pt-page-moveFromBottom" src="{{ STATIC_URL }}/images/esteamshow/wording.png" />
					<img class="img_2 hide pt-page-moveCircle" src="{{ STATIC_URL }}/images/esteamshow/circle.png" />
					<img class="img_3 hide pt-page-moveFromLeft" src="{{ STATIC_URL }}/images/esteamshow/people.png" />
					<img class="img_4 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/dot1.png" />
					<img class="img_5 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/check_develop.png" />
					<img class="img_6 hide pt-page-moveIconUp" src="{{ STATIC_URL }}/images/esteamshow/icon_up.png" />
					<img class="img_7 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/floating_develop.png" />
				</div>
			</div>
			<div class="page page-2-2 hide">
				<div class="wrap">
					<img class="img_1 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/introduction.png" />
					<img class="img_2 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/btn_develop.png" />
					<img class="img_3 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/dot2.png" />
					<img class="img_6 hide pt-page-moveIconUp" src="{{ STATIC_URL }}/images/esteamshow/icon_up.png" />
				</div>
			</div>
			<div class="page page-3-1 hide">
				<div class="wrap">
					<img class="img_1 hide pt-page-moveFromBottom" src="{{ STATIC_URL }}/images/esteamshow/wording_design.png" />
					<img class="img_2 hide pt-page-moveCircle" src="{{ STATIC_URL }}/images/esteamshow/circle-design.png" />
					<img class="img_3 pt-page-moveFromBottom hide" src="{{ STATIC_URL }}/images/esteamshow/people_design.png" />
					<img class="img_4 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/dot1.png" />
					<img class="img_5 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/check_design.png" />
					<img class="img_6 hide pt-page-moveIconUp" src="{{ STATIC_URL }}/images/esteamshow/icon_up.png" />
					<img class="img_7 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/floating_design.png" />
				</div>
			</div>
			<div class="page page-3-2 hide">
				<div class="wrap">
					<img class="img_1 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/introduction_design.png" />
					<img class="img_2 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/btn_design.png" />
					<img class="img_3 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/dot2.png" />
					<img class="img_6 hide pt-page-moveIconUp" src="{{ STATIC_URL }}/images/esteamshow/icon_up.png" />
				</div>
			</div>
			
			<div class="page page-4-1 hide">
				<div class="wrap">
					<img class="img_1 hide pt-page-moveFromBottom" src="{{ STATIC_URL }}/images/esteamshow/wording_production.png" />
					<img class="img_2 hide pt-page-moveCircle" src="{{ STATIC_URL }}/images/esteamshow/circle-production.png" />
					<img class="img_3 pt-page-moveFromRight hide" src="{{ STATIC_URL }}/images/esteamshow/people_production.png" />
					<img class="img_4 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/dot1.png" />
					<img class="img_5 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/check_production.png" />
					<img class="img_6 hide pt-page-moveIconUp" src="{{ STATIC_URL }}/images/esteamshow/icon_up.png" />
					<img class="img_7 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/floating_production.png" />
					<img class="img_8 hide pt-page-scaleUp" src="{{ STATIC_URL }}/images/esteamshow/pic_shadow_production.png" />
				</div>
			</div>
			
			<div class="page page-4-2 hide">
				<div class="wrap">
					<img class="img_1 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/introduction_production.png" />
					<img class="img_2 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/btn_production.png" />
					<img class="img_3 hide pt-page-flipInLeft" src="{{ STATIC_URL }}/images/esteamshow/dot2.png" />
					<img class="img_6 hide pt-page-moveIconUp" src="{{ STATIC_URL }}/images/esteamshow/icon_up.png" />
				</div>
			</div>
			<!-- <div class="page page-5-1 hide">
				<div class="wrap">
					<img class="img_1 hide pt-page-rotateCubeBottomIn" src="{{ STATIC_URL }}/images/esteamshow/pic_back.png" />
					<img class="img_2 hide pt-page-rotateCubeTopIn" src="{{ STATIC_URL }}/images/esteamshow/btn_join.png" />
				</div>
			</div> -->
		</div>	
		<script src="{{ STATIC_URL }}js/esteamshow/zepto.min.js"></script>
		<script src="{{ STATIC_URL }}js/esteamshow/touch.js"></script>
		<script src="{{ STATIC_URL }}js/esteamshow/index.js"></script>
	</body>
</html>
