<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/estationinfo/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}images/estationinfo/apple-touch-startup-image-320x460.png" />
<meta name="author" content="FamousThemes" />
<meta name="description" content="GoMobile - A next generation web app theme" />
<meta name="keywords" content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app" />
<title>客站介绍</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/style.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/medical.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/idangerous.swiper.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/swipebox.css">
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.min.js" type="text/javascript"></script>
</head>
<body>
  <div id="header">
      <div class="gohome"><a href="#"><img src="{{ STATIC_URL }}images/estationinfo/icons/home.png" alt="" title="" /></a></div>
      <div class="gomenu"><a href="#" onclick="swiperParent.swipeTo(9);"><img src="{{ STATIC_URL }}images/estationinfo/icons/contact.png" alt="" title="" /></a></div>
  </div>
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
    
      <!--Menu page-->
      <div class="swiper-slide sliderbg_menu">
          <div class="swiper-container swiper-nested">
             <div class="swiper-wrapper">
                <div class="swiper-slide">
                      <div class="slide-inner">
                            <!-- <div class="logo"><a href="#"><img src="{{ STATIC_URL }}images/estationinfo/logo.png" alt="" title="" border="0" /></a></div> -->
                            <div class="banner">
                              <ul>
                                  <li style="background-image: url({{ STATIC_URL }}images/estationinfo/1.jpg); background-size: 100% 100%;">
                                    <h3>成都东站汽车客运站.</h3>
                                  </li>
                                  <li style="background-image: url({{ STATIC_URL }}images/estationinfo/2.jpg); background-size: 100% 100%;"><h3>成都东站汽车客运站.</h3></li>
                                  <li style="background-image: url({{ STATIC_URL }}images/estationinfo/3.jpg); background-size: 100% 100%;"><h3>成都东站汽车客运站.</h3></li>
                                  <li style="background-image: url({{ STATIC_URL }}images/estationinfo/4.jpg); background-size: 100% 100%;"><h3>成都东站汽车客运站.</h3></li>
                              </ul>
                              <ol class="dots"><li class="dot">1</li><li class="dot">2</li><li class="dot">3</li><li class="dot active">4</li></ol>
                            </div>
                            <div class="menu" style="padding-top:10%;">
                            <ul>
                            <li><a href="#" onclick="swiperParent.swipeTo(1);"><img src="{{ STATIC_URL }}images/estationinfo/icons/about.png" alt="" title="" /><span>客站概要</span></a></li>
                            <li><a href="#" onclick="swiperParent.swipeTo(2);"><img src="{{ STATIC_URL }}images/estationinfo/icons/tools.png" alt="" title="" /><span>特色介绍</span></a></li>
                            <!-- <li><a href="#" onclick="swiperParent.swipeTo(3);"><img src="{{ STATIC_URL }}images/estationinfo/icons/blog.png" alt="" title="" /><span>Blog</span></a></li>
                            <li><a href="#" onclick="swiperParent.swipeTo(4);"><img src="{{ STATIC_URL }}images/estationinfo/icons/docs.png" alt="" title="" /><span>Portfolio</span></a></li> -->
                            <li><a href="#" onclick="swiperParent.swipeTo(3);"><img src="{{ STATIC_URL }}images/estationinfo/icons/photos.png" alt="" title="" /><span>总揽相册</span></a></li>
                            <!-- <li><a href="#" onclick="swiperParent.swipeTo(6);"><img src="{{ STATIC_URL }}images/estationinfo/icons/videos.png" alt="" title="" /><span>Videos</span></a></li>
                            <li><a href="#" onclick="swiperParent.swipeTo(7);"><img src="{{ STATIC_URL }}images/estationinfo/icons/clients.png" alt="" title="" /><span>Clients</span></a></li>
                            <li><a href="#" onclick="swiperParent.swipeTo(8);"><img src="{{ STATIC_URL }}images/estationinfo/icons/twitter.png" alt="" title="" /><span>Twitter</span></a></li>
                            <li><a href="#" onclick="swiperParent.swipeTo(9);"><img src="{{ STATIC_URL }}images/estationinfo/icons/contact.png" alt="" title="" /><span>Contact</span></a></li> -->
                            </ul>
                            <div class="clearfix"></div>
                            </div>
                     </div>
                 </div>
             </div>
                  <div class="swiper-scrollbar"></div>
          </div> 
      </div>
      
      <!--Page 1 content-->
      <div class="swiper-slide sliderbg">
      <div class="swiper-container swiper-nested">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">
                              <div class="slide-inner">
                                        <div class="pages_container">
                                        <h2 class="page_title">客站概要介绍</h2>
                                        <div class="image_single radius4"><img src="{{ STATIC_URL }}images/estationinfo/page_photo.jpg" alt="" title="" border="0" /></div>
                                        <h3>成都东站汽车客运站</h3>
                                        <blockquote>成都东站汽车客运站占地87.2亩，总建筑面积9.6万平方米，最大的亮点是与铁路、公交、出租等的无缝连接零换乘。该站位于东客站东广场附近，地上三层、地下两层。成都东站汽车客运站将配置12条、87班客运线路至龙泉驿、青白江、金堂、郫县等地。2011年9月30日起试运营，班线可直达12个区市县。该站以实行联网售票。</blockquote>
                                        
                                        <h3>运营</h3>
                                        <blockquote>2011年9月30日，成都最大的长途客运站———成都东站汽车客运站正式开始试运营。在投入试运营的新客运站里，还有与机场类似的行李处理装置，旅客在购票时可将行李寄存在售票大厅，然后再到候车大厅候车，在乘客所乘班车发车时有专人将行李运送到客车上</blockquote>
                                        
                                        <h3>县班线</h3>
                                        <blockquote>只开通县班线，因为其功能定位主要是铁路车站的配套站，作用是快速疏散来到成都前往周边各地的旅客，比如现在东客站每日本来就有8趟成渝动车，如果再开行成渝大巴，则与铁路重复。</blockquote>
                                              
                                        
                                      
                                        <div class="clearfix"></div>
                                          <div class="scrolltop"><a href="#"><img src="{{ STATIC_URL }}images/estationinfo/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        <!--End of page container-->
                              </div>
                    </div>
              </div>
              <div class="swiper-scrollbar"></div>
     </div>
     </div>
      
      <!--Page 2 content-->
      <div class="swiper-slide sliderbg">
      <div class="swiper-container swiper-nested">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">
                              <div class="slide-inner">
                                        <div class="pages_container">
                                        <h2 class="page_title">特色介绍</h2>
                                        <h3>线路齐全</h3>
                                        <div class="image_single radius4"><img src="{{ STATIC_URL }}images/estationinfo/page_photo2.jpg" alt="" title="" border="0" /></div>
                                        <blockquote>成都东站汽车客运站是成都东客站综合客运枢纽的重要配套项目，主要承担铁路到发旅客中转接驳和快速疏解功能，做到了与铁路、公交、地铁、出租和社会车辆等交通方式的紧密衔接，实现了多种交通方式的互通互换。经过紧张筹备，东站汽车客运站将于2011年9月30开通试运营。按照东站汽车客运站的功能定位，其客运班线采取逐步配置原则进行丰富和完善，第一阶段主要配置市域内公路客运班线。第一批开通二三圈层12个区市县客运班线12条，运行87班次，包括：龙泉驿、青白江、金堂、郫县、都江堰、温江、崇州、大邑、邛崃、蒲江、新津、双流。具体发车班次见附表。第二批在年底前开通东客站汽车客运站至新都和彭州的客运班线，实现对市域内二三圈层区市县的全覆盖。2012年4月29日开通成都至西昌和攀枝花的高速客运路线.下一阶段将结合铁路运输的情况，逐步扩大东站汽车客运站的运输服务范围，丰富运输线路，充分发挥东站综合运输枢纽的功能。</span></blockquote>
                                        
                                        <h3>功能齐备</h3>
                                        <blockquote>长途客运站位于成都东站主站房的南侧，紧邻东广场，分为地上三层和地下两层,其中，地上一层是进站大厅、售票大厅、候车大厅和出站大厅。在宽敞的售票大厅内设有26个售票窗口，还预留了8台自助售票机的摆放空间。在售票大厅旁，还有一个200多平方米的旅游线路售票厅，而旁边的候车大厅近 200米长、50多米宽，整齐摆放着几百个座位。地面二楼还设有VIP候车室和老弱病残孕重点旅客候车室,三楼是车站工作区和商业区。通过扶梯来到地下，地下两层分别是长途车进站下客和车辆停放的区域,以及社会车辆的停车位，每天可以让3.8万名旅客自由进出。26个售票窗口；还预留了8台自助售票机的摆放空间；首批12条线路开往周边区市县；旅客在购票时可将行李寄存在售票大厅。</span></blockquote>
                                        <div class="clearfix"></div>
      <div class="scrolltop"><a href="#"><img src="{{ STATIC_URL }}images/estationinfo/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        <!--End of page container-->
                              </div>
                    </div>
              </div>
              <div class="swiper-scrollbar"></div>
     </div>
     </div>
     
      <!--Page 3 content-->
  

     <!--Page 4 content-->
    
     
      <!--Page 5 content-->
      <div class="swiper-slide sliderbg">
      <div class="swiper-container swiper-nested">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">
                              <div class="slide-inner">
                                        <div class="pages_container">
                                        <h3 class="page_title">客运站相册</h3>
                                            <ul class="photo_gallery_13">
                                            <li><a rel="gallery-3" href="{{ STATIC_URL }}images/estationinfo/photos/photo1.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo1.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-3" href="{{ STATIC_URL }}images/estationinfo/photos/photo2.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo2.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-3" href="{{ STATIC_URL }}images/estationinfo/photos/photo3.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo3.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-3" href="{{ STATIC_URL }}images/estationinfo/photos/photo4.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo4.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-3" href="{{ STATIC_URL }}images/estationinfo/photos/photo5.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo5.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-3" href="{{ STATIC_URL }}images/estationinfo/photos/photo6.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo6.jpg" alt="image"/></a></li>
                                            </ul>

                                            <ul class="photo_gallery_12">    
                                            <li><a rel="gallery-4" href="{{ STATIC_URL }}images/estationinfo/photos/photo7.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo7.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-4" href="{{ STATIC_URL }}images/estationinfo/photos/photo8.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo8.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-4" href="{{ STATIC_URL }}images/estationinfo/photos/photo9.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo9.jpg" alt="image"/></a></li>
                                            <li><a rel="gallery-4" href="{{ STATIC_URL }}images/estationinfo/photos/photo10.jpg" title="Photo title" class="swipebox"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo10.jpg" alt="image"/></a></li>
                                            
                                            </ul>
                                       
                                         <div class="clearfix"></div> 
                       <div class="scrolltop"><a href="#"><img src="{{ STATIC_URL }}images/estationinfo/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        <!--End of page container-->
                              </div>
                    </div>
              </div>
              <div class="swiper-scrollbar"></div>
     </div>
     </div>
      <!--Page 6 content-->
    
      <!--Page 7 content-->
     
      <!--Page 8 content-->
     
      <!--Page 9 content-->
       
     <!--End of pages--> 

    </div>
    <div class="pagination"></div>
  </div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/idangerous.swiper.scrollbar-2.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tabify.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/unslider.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/estationinfo/code.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/estationinfo/load.js"></script>
<!--Twitter Feed-->
<!-- <script type="text/javascript" src="js/twitter/jquery.tweet.js" charset="utf-8"></script> -->
<script type="text/javascript">
  $(function() {
    $('.banner').unslider();
});
</script>
</body>
</html>