<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/estationinfo/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}images/estationinfo/apple-touch-startup-image-320x460.png" />
<meta name="author" content="FamousThemes" />
<meta name="description" content="GoMobile - A next generation web app theme" />
<meta name="keywords" content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app" />
<title>GoMobile - A next generation web app theme</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/style.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/medical.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/idangerous.swiper.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estationinfo/swipebox.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.min.js" type="text/javascript"></script>
</head>
<body>
  <div id="header">
      <div class="gohome"><a href="#"><img src="{{ STATIC_URL }}images/estationinfo/icons/home.png" alt="" title="" /></a></div>
      <div class="gomenu"><a href="#" onclick="swiperParent.swipeTo(9);"><img src="{{ STATIC_URL }}images/estationinfo/icons/contact.png" alt="" title="" /></a></div>
  </div>
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
    
      <!--Menu page-->
     
      
      <!--Page 1 content-->

      
      <!--Page 2 content-->
  
     
      <!--Page 3 content-->
      <div class="swiper-slide sliderbg">
      <div class="swiper-container swiper-nested">
           <div class="swiper-wrapper">
                <div class="swiper-slide">
                      <div class="slide-inner">
                          <div class="pages_container">
                                <div class="posts_archive_page">
                                    <h3 class="page_title">最新动态</h3>
                                                <!-- <div class="toogle_wrap_blog">
                                                    <div class="trigger_blog"><a href="#">blog categories</a></div>
                                                        <div class="toggle_container_blog">
                                                            <ul class="listing_detailed">
                                                            <li><a href="#">webdesign work</a></li>
                                                            <li><a href="#">painted illustrations</a></li>
                                                            <li><a href="#">programming and javascript</a></li>
                                                            </ul>
                                                        </div>
                                                </div> -->
                                        <ul class="posts">
                                            <li class="post" id="postid1">
                                                 <a href="#" class="post_more"></a>                     
                                                 <div class="post_right_reveal">
                                                 <h4><a href="#">今年1月底成都东客站晚11点收车公交数量将达4条...</a></h4>
                                                 </div>
                                                 <div class="post_right_unreveal">
                                                 分类 <a href="#">最新动态新闻</a>
                                                 <span class="post_comments">2 条 评论</span>
                                                 <a href="#" class="post_readmore">阅读更多...</a>
                                                 </div> 

                                                <div class="post_left">
                                                    <span class="day">3</span>
                                                    <span class="month">一月</span>
                                                </div>

                                            </li>
                                            <li class="post" id="postid2">
                                                 <a href="#" class="post_more"></a>
                                                 <div class="post_right_reveal">
                                                 <h4><a href="#">成都东客站16日开始优化改造 东西广场将“各司其职”...</a></h4>
                                                 </div>
                                                 <div class="post_right_unreveal">
                                                 分类 <a href="#">最新动态新闻</a>
                                                 <span class="post_comments">1 条 评论</span>
                                                 <a href="#" class="post_readmore">阅读更多...</a>
                                                 </div> 
                                               
                                                <div class="post_left">
                                                    <span class="day">18</span>
                                                    <span class="month">十二月</span>
                                                </div>
                                            </li>
                                            <li class="post" id="postid3">
                                                 <a href="#" class="post_more"></a>                     
                                                 <div class="post_right_reveal">
                                                 <h4><a href="#">接驳成绵乐客专 东站客运站可无缝换乘...</a></h4>
                                                 </div>
                                                 <div class="post_right_unreveal">
                                                 分类 <a href="#">最新动态新闻</a>
                                                 <span class="post_comments">2 条 评论</span>
                                                 <a href="#" class="post_readmore">阅读更多...</a>
                                                 </div> 

                                                <div class="post_left">
                                                    <span class="day">09</span>
                                                    <span class="month">十二月</span>
                                                </div>

                                            </li>
                                            <li class="post" id="postid4">
                                                 <a href="#" class="post_more"></a>
                                                 <div class="post_right_reveal">
                                                 <h4><a href="#">成都东客站改造车辆只能停到西广场 3条公交线将延时...</a></h4>
                                                 </div>
                                                 <div class="post_right_unreveal">
                                                 分类 <a href="#">最新动态新闻</a>
                                                 <span class="post_comments">1 条 评论</span>
                                                 <a href="#" class="post_readmore">阅读更多...</a>
                                                 </div> 
                                               
                                                <div class="post_left">
                                                    <span class="day">12</span>
                                                    <span class="month">十二月</span>
                                                </div>
                                            </li>
                                            
                                          </ul>
                                                <div id="loadMore" class="radius8">点击加载更多新闻...</div> 
                                                <div id="showLess" class="radius8">没有要加载的内容了</div>
                                                </div> <!--End of posts archive page-->
                                               
                                                <ul class="post_details_page">
                                                <li id="postid1">
                                                <a class="backtoblog radius8">返回新闻列表</a>
                                                    <h4 class="post_title">今年1月底成都东客站晚11点收车公交数量将达4条</h4>
                                                    <div class="image_single radius4"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo11.jpg" alt="" title="" border="0" /></div>
                                                    <!-- <h4>今年1月底成都东客站晚11点收车公交数量将达4条</h4> -->
                                                    <p>2014年12月24日，华西都市报民情热线刊登《动车很快,夜间出站换乘为何这么慢？》报道后，社会反响强烈。12月25日，成都市交委联系本报表示，待成绵乐客专运行班次稳定后，交委将责成公交公司调整公交线路运营服务时间，调整后开往西南方的121路、91路有望延时到晚上11点，届时，成都东客站晚上11点收车的公交数量将达到4条。成都市交委表示，调整时间最晚不超过2015年1月底。公交，动车、地铁为何不能提前对接？成都市交委公交处负责人表示，障碍在于“无法事先取得基础数据”。“哪些线路该延，延多久必须要有科学的依据，而依据的来源就是基础数据，如有多少人乘车，在哪里下车，要到哪里去，而这些数据必须等列车运行一段时间、运力稳定后才能得到。”该负责人表示。在基础数据得到之前，如何确保市民基本的出行需求？成都市交委工作人员表示，应急方案已经出台：第一，所有地铁、高铁首末站及客流集中的途中站至少有一条公交线路与末班车接驳；第二，末班车首站有乘客15人或整个线路中乘客达到60人以上线路，末班车要延时20分钟。</p>
                                                    <h3>评论</h3>
                                                        <div class="comment_row">
                                                            <div class="comm_avatar"><img src="{{ STATIC_URL }}images/estationinfo/avatar.jpg" alt="" title="" border="0" /></div>
                                                            <div class="comm_content"><p>末班车首站有乘客15人或整个线路中乘客达到60人以上线路，末班车要延时20分钟。 <a href="#">评论</a></p></div>
                                                        </div>
                                                        <div class="comment_row">
                                                            <div class="comm_avatar"><img src="{{ STATIC_URL }}images/estationinfo/avatar.jpg" alt="" title="" border="0" /></div>
                                                            <div class="comm_content"><p>公交，动车、地铁为何不能提前对接？ <a href="#">评论</a></p></div>
                                                        </div>
                                                    <h3>发表评论</h3>
                                                        <div class="form">
                                                        <form action="">
                                                        <label>姓名:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>Email/电话:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>内容:</label>
                                                        <textarea class="form_textarea radius4" rows="" cols=""></textarea>
                                                        
                                                        <input type="submit" class="form_submit radius4 green green_borderbottom" value="确定发表" />
                                                        </form>
                                                        </div>
                                                  </li> 
                                                  <li id="postid2">
                                                <a class="backtoblog radius8">返回新闻列表</a>
                                                    <h4 class="post_title">成都东客站16日开始优化改造 东西广场将“各司其职”</h4>
                                                    <div class="image_single radius4"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo10.jpg" alt="" title="" border="0" /></div>
                                                    <!-- <div class="image_caption green green_borderbottom radius4">Image title</div> -->
                                                    <p>16日，成都东客站正式开始优化改造，改造完成以后东、西广场将明确分工，东广场负一层全部作为公交场站，西广场负一层主要为出租车和社会车辆停放。改造期间，原有的东广场停车场将关闭，社会车辆可到西广场停车场和东站长途客运站停车场停放。成都东客站是一个综合交通枢纽，火车、地铁、长途客车、公交、出租等多种交通方式在这里无缝对接，还包括社会车辆停车功能。“东客站不少功能都集合在负一层。”东客站项目管理方相关负责人表示，在东客站的东西广场负一层分别都有社会车辆停车、出租车乘坐、公交车站台这些同样的功能。虽然在地下层有交通诱导、交通指示牌，但仍有不少乘客在地下层“晕头转向”：想坐公交车，跟着指示牌可能到了东广场，却发现自己要乘坐的那一条公交线是在西广场始发。不仅如此，功能的重叠，也可能造成交通流的交叉影响。</p>
                                                    <h3>发表评论</h3>
                                                        <div class="comment_row">
                                                            <div class="comm_avatar"><img src="{{ STATIC_URL }}images/estationinfo/avatar.jpg" alt="" title="" border="0" /></div>
                                                            <div class="comm_content"><p>东客站不少功能都集合在负一层 <a href="#">评论</a></p></div>
                                                        </div>
                                                    <h3>发表评论</h3>
                                                        <div class="form">
                                                        <form action="">
                                                        <label>姓名:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>Email/电话:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>内容:</label>
                                                        <textarea class="form_textarea radius4" rows="" cols=""></textarea>
                                                        
                                                        <input type="submit" class="form_submit radius4 green green_borderbottom" value="确定发表" />
                                                        </form>
                                                        </div>
                                                  </li>
                                                  <li id="postid3">
                                                <a class="backtoblog radius8">返回新闻列表</a>
                                                    <h4 class="post_title">接驳成绵乐客专 东站客运站可无缝换乘</h4>
                                                    <div class="image_single radius4"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo9.jpg" alt="" title="" border="0" /></div>
                                                    <!-- <div class="image_caption green green_borderbottom radius4">Image title</div> -->
                                                    <!-- <h3>Imagination is our power</h3> -->
                                                    <p>今天，市民们期待已久的成绵乐客专就要正式开通，该趟列车在成都城区仅停靠成都东站和成都南站。为了迎接即将开通的成绵乐客专，成都东站客运站已做好了换乘准备，并对部分线路进行了调整优化。19日，华西都市报记者从成都东站客运站获悉，该站是唯一一个可换乘其他交通方式的综合枢纽站。可实现与长途汽车、公交、地铁、出租和社会车辆等交通方式的无缝换乘。该站负责人介绍，目前，该站有发往西昌、贵州黄果树瀑布、兴文石海等旅游班线，还有资中、泸州方向、重庆方向等50余条省内外长途班线，以及成都二三圈层温江、崇州、大邑、邛崃、蒲江、金堂、黄龙溪等15条县际班线。</p>
                                                    <h3>发表评论</h3>
                                                        <div class="comment_row">
                                                            <div class="comm_avatar"><img src="{{ STATIC_URL }}images/estationinfo/avatar.jpg" alt="" title="" border="0" /></div>
                                                            <div class="comm_content"><p>好好好。。。 <a href="#">评论</a></p></div>
                                                        </div>
                                                    <h3>发表评论</h3>
                                                        <div class="form">
                                                        <form action="">
                                                        <label>姓名:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>Email/电话:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>内容:</label>
                                                        <textarea class="form_textarea radius4" rows="" cols=""></textarea>
                                                        
                                                        <input type="submit" class="form_submit radius4 green green_borderbottom" value="确定发表" />
                                                        </form>
                                                        </div>
                                                  </li> 
                                                  <li id="postid4">
                                                <a class="backtoblog radius8">返回新闻列表</a>
                                                    <h4 class="post_title">成都东客站改造车辆只能停到西广场 3条公交线将延时</h4>
                                                    <div class="image_single radius4"><img src="{{ STATIC_URL }}images/estationinfo/photos/photo8.jpg" alt="" title="" border="0" /></div>
                                                    <!-- <div class="image_caption green green_borderbottom radius4">Image title</div> -->
                                                    <!-- <h3>Imagination is our power</h3> -->
                                                    <p>火车站是一个城市的窗口，不少外地朋友认识成都的首站就从这里开始。但成都东客站自2011年5月开通以来，时常有市民反映这里“如同迷宫”：交通指示牌不清，进站摸不到北；地下停车场太复杂，不知到哪里接人等。对于东客站找路难的情况，华西都市报曾多次强势关注，并细致梳理出四大让乘客迷路的“晕点”。根据本报报道以及市民提出的相关意见和建议，成都市交委会同成都铁路局、成都市规划局、成都市建委、成都市公安交管局、成都市火管办、成都交投集团、成都市公交集团等部门对东客站的场站设施、交通流线等进行实地踏勘和分析论证。　1月7日上午，成都市交委宣布，东客站改造优化工作已经基本完成：东广场负一层全部作为公交车站；西广场负一层主要为出租车和社会车辆停放，设置一条机场大巴到发车道，同时在西广场地面设置旅游大巴停车场。与此同时，站内外改造或新增200余块指示牌。</p>
                                                    <h3>发表评论</h3>
                                                        <div class="comment_row">
                                                            <div class="comm_avatar"><img src="{{ STATIC_URL }}images/estationinfo/avatar.jpg" alt="" title="" border="0" /></div>
                                                            <div class="comm_content"><p>同时为了更好的和铁路衔接，记者获悉，今天开始，东客站东广场的4路、47路和121路三条公交线路都将推迟收班时间至夜间11点20分，最长延时达80分钟。 <a href="#">评论</a></p></div>
                                                        </div>
                                                    <h3>发表评论</h3>
                                                        <div class="form">
                                                        <form action="">
                                                        <label>姓名:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>Email/电话:</label>
                                                        <input type="text" class="form_input radius4" />
                                                        <label>内容:</label>
                                                        <textarea class="form_textarea radius4" rows="" cols=""></textarea>
                                                        
                                                        <input type="submit" class="form_submit radius4 green green_borderbottom" value="确定发表" />
                                                        </form>
                                                        </div>
                                                  </li>
                                                
                                                </ul>
                    <div class="scrolltop"><a href="#"><img src="{{ STATIC_URL }}images/estationinfo/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        <!--End of page container-->
                              </div>
                    </div>
              </div>
              <div class="swiper-scrollbar"></div>
     </div>
     </div>
     

     <!--Page 4 content-->
  
      <!--Page 5 content-->
     
      <!--Page 6 content-->
   
      <!--Page 7 content-->
   
      <!--Page 8 content-->
     
      <!--Page 9 content-->
      
       
     <!--End of pages--> 

    </div>
    <div class="pagination"></div>
  </div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/idangerous.swiper.scrollbar-2.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tabify.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/unslider.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/estationinfo/code.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/estationinfo/load.js"></script>
<!--Twitter Feed-->
<!-- <script type="text/javascript" src="js/twitter/jquery.tweet.js" charset="utf-8"></script> -->
<script type="text/javascript">
  $(function() {
    $('.banner').unslider();
});
</script>
</body>
</html>